* {
  box-sizing: border-box;
}
body {
  background-color: #e2e1e1;
}
.add-task{
  font-family: "Courier New", Courier, monospace;
}
.todo {
  color: white;
  font-family: "Courier New", Courier, monospace;
  max-width: 50%;
  margin: 0 auto;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"] {
  width: 320px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid white;
  height: 40px;
  border-radius: 4px 0px 0px 4px;
}

button {
  background-color: #1c1d1c; /* Green */
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.categories {
    display:flex;
    justify-content:center;
    gap: 15px;
    padding-top: 20px;
}

.category {
    margin-right:10px;
    cursor: pointer;
padding: 11px;
color: white;
background: #161816;
border-radius: 4px;
display: inline-block;
transition: width 0.5s;
height: 40px;
}

.category span {
  display: inline-block;
  width: 80px;
}
.active {
    width: 190px;
    background: red;
    font-size: 30px;
    height: 60px;
}
.input-div{
  display: flex;
align-items: center;
}
.input-div button{
  height: 40px;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
}
:hover.add-task{
  background-color: #767c76;
}
.category-list {
  display: flex;
}
@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}
.display-category.show {
  animation: fade 1s;
  font-weight: 600;
}
.clicked-category{
  font-size: 20px;
  padding-top: 2px;
  font-weight: 800;
}
.clicked-category p{
  border-bottom: black solid 1px;
}
ol{
  color: white;
  width: 400px;
  
}
.ol{
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}
.lists{
  
  background-color: #767c76;
  padding: 10px;
  
  flex-direction: row;
  justify-content: space-between;
}
.delete-button{
  width: 60px;
}

span{
width: 250px;
}

.span-button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  word-wrap: break-word;
}
.icon{
  display: flex;
  cursor: pointer;
  font-size: 20px;
}
::marker{
  color: black;
  font-weight: 800;
}
@media  screen and (max-width: 600px) {
  input[type="text"]{
    width: 100%;
  }
  .category{
    margin-right: 1px;
    font-size: 13px;
  }
  .clicked-category p {
    border-bottom: black solid 1px;
    font-size: 13px;
}
.display-category{
  font-size: 10px;
  width: 300px;
}
.lists{
  width: 260px ;
}
ol {
  color: white;
  width: 301px;
}
.categories{
padding-top: 2px;
gap: 7px;
}
.delete-button{
  width: 40px;
}

.edit-button{
  width: 40px;
}
.icon{
  font-size: 20px;
}
.active{
  width: 90px;
  font-size: 16px;
}
span{
  width: 170px;
  font-size: 20px;
}@keyframes slide {
  from { width: 50px; }
  to { width: 90px; }
}
.category {
  transition: width 0.5s;
}

.category span {
    display: inline-block;
    width: 50px;
    font-size: 14px;
}

.active {
  animation: slide 0.5s forwards;
}
}


